*.iml
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
iosVariant/iosVariant.xcodeproj/project.xcworkspace/
iosVariant/iosVariant.xcodeproj/xcshareddata
.kotlin
