iosVariant.xcodeproj/project.xcworkspace/contents.xcworkspacedata
iosVariant.xcodeproj/project.xcworkspace/xcuserdata/*
iosVariant.xcodeproj/project.xcworkspace/xcshareddata/iosVariant.xcsettings
iosVariant.xcodeproj/project.xcworkspace/xcshareddata/iosVariant.plist
iosVariant.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/iosVariant
!iosVariant.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
